{{ partial "top.html" . }}

<!-- if this is the "main" tags page show only tag names and corresponding number of entries -->
{{ if (or (eq .Path "tags") (eq .Path "categories")) }}
  <h1>{{ upper .Data.Plural }}:</h1>
  <ul>
    {{ range .Data.Terms }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
    {{ end }}
  </ul>

<!-- otherwise show all entries marked with specific tag -->
{{ else }}
  {{ $pre := "#" }}
  {{ $term := .Data.Singular }}
  <h1>Content in the {{ upper .Title }} {{ $term }}:</h1>
  <ul>
    {{ range .Data.Pages }}
    <li>
      {{ .Date.Format "06/01/02" }} &nbsp;
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>

{{ end }}

{{ partial "bottom.html" . }}
